<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCESSRECORDS</title>
</head>
<body>
    <center>
        <h1>DATA ADDED TO ACCESSRECORDS USING HTML PAGE</h1>
        <table border="5px">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Author</th>
                <th>Email</th>
            </tr>
        
        {% for ao in qsao %}
            <tr>
                <td>{{ao.name}}</td>
                <td>{{ao.date}}</td>
                <td>{{ao.author}}</td>
                <td>{{ao.email}}</td>
            </tr>
        {% endfor %}

        </table>
    </center>
</body>
</html>